<div class="container-fluid">
    <h2>Registration Form</h2>
    <form [formGroup]="registerationForm">
            {{registerationForm.value | json}}
            <div class=form-group>
                <label>Username</label>
                <input [class.is-invalid]="registerationForm.get('username').invalid && registerationForm.get('username').touched" formControlName="username" type="text" class="form-control">
                <small class="text-danger" [class.d-none]="registerationForm.get('username').valid || registerationForm.get('username').untouched">Username needs to be filled.</small>
        </div>
          
            <div class=form-group formGroupName="emailGroup">
                    <label>Password</label>
                    <input  [class.is-invalid]="registerationForm.get('emailGroup').get('password').invalid && registerationForm.get('emailGroup').get('password').touched" formControlName="password" type="text" class="form-control">
                    <!-- <small class="text-danger" [class.d-none]="registerationForm.get('emailGroup').get('password').valid || registerationForm.get('emailGroup').get('password').untouched">Password needs to be filled.</small> -->

                    

            <div class=form-group>
                    <label>Confirm Password</label>
                    <input  [class.is-invalid]="registerationForm.get('emailGroup').get('confirmpassword').invalid && registerationForm.get('emailGroup').get('confirmpassword').touched"  formControlName="confirmpassword" type="text" class="form-control">
            </div>
            <div *ngIf="registerationForm.get('emailGroup').errors?.noji ">Password Mismatch</div>
            
            </div>
            <!--<small class="text-danger" [class.d-none]="registerationForm.emailGroup.valid">Both passwords do no match.</small> -->

            <div formGroupName="address">
                    <label>City</label>
                    <input  [class.is-invalid]="registerationForm.get('address').get('city').invalid && registerationForm.get('address').get('city').touched" formControlName="city" type="text" class="form-control">

                    <label>State</label>
                    <input  [class.is-invalid]="registerationForm.get('address').get('state').invalid && registerationForm.get('address').get('state').touched" formControlName="state" type="text" class="form-control">

                    <label>Country</label>
                    <input  [class.is-invalid]="registerationForm.get('address').get('country').invalid && registerationForm.get('address').get('country').touched" formControlName="country" type="text" class="form-control">
            </div>
            
            <button class="btn btn-primary" type="submit">Register</button><br/><br/>
            <button class="btn btn-secondary" type="buton" (click)="loadData()">Load Data</button>


    </form>
   
</div>