<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
  Name: <input type="text" placeholder="Your Name" name="name" [ngModel]="user.name" #fname="ngModel" minlength="2" required><br/>
<div *ngIf="fname.errors?.required && fname.touched" >
    Fill it bro
   </div>
   <div *ngIf="fname.errors?.minlength && fname.touched">
    Minimum of 2 characters
   </div><span  ngModelGroup>
    Email:<input type="email" name="email" ngModel #em="ngModel" required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"><br/>
    <div *ngIf="em.errors?.required && em.touched" >
    Fill it bro
   </div>
   
    
  
   <div *ngIf="em.errors?.pattern && em.touched">
    Invalid pattern for email
    
   </div>
   Confirm Email:<input type="email" name="cemail" ngModel #cem="ngModel" required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
    
    <div *ngIf="cem.errors?.required && cem.touched" >
        Fill it bro
       </div>
    
    <div *ngIf="cem.errors?.pattern && em.touched">
        Invalid pattern for email
        
       </div>
    
</span>

<br/>


Gender:<input type="radio" name="gender" value="Male" ngModel #male="ngModel" required>
<input type="radio" name="gender" value="Female" ngModel #fmale="ngModel" required>

<div *ngIf="male.errors?.required && male.untouched">
    Fill it bro!!!!
   </div>


<br/>
<input type="submit" [disabled]="f.invalid">
{{f.value | json}}
</form>
