<label>Name : {{name}}</label>   <br><br>
Email:<input [(ngModel)]="email" type="text" [placeholder]="email"/> {{email}}<br><br>
<label>Phone Number: </label><label>{{Phone}}</label><br><br>
<label>Roll Number: </label><label>{{Roll}}</label><br><br>
<label>Father Number: </label><label [innerHtml]="fathername"></label><br><br>
<label>Mother Number: </label><label [innerHtml]="mothername"></label><br><br>
<input type="button" value="submit" [disabled]="flag"><br><br>
<input type="button" value="cancel" [disabled]="!flag"><br><br>
<ul>
    <li (click)="onSubmit(des)" *ngFor="let des of designations">
        Name:{{des.name}} Job : {{des.job}}

    </li>
</ul>
